/*formatage de la page*/
.bloc_page {
  width: 1200px;
  margin: auto;
}
@media all and (max-width: 600px) {
  .bloc_page {
    width: 350px;
    margin: auto;
  }
}
/* Logo Reservia*/
img.logo {
  position: relative;
  height: 85px;
}
@media all and (max-width: 600px) {
  img.logo {
    position: relative;
    height: 42px;
  }
}
/* Barre de navigation */
.logo_menu {
  display: flex;
  flex-direction: row;
}
.menu {
  display: flex;
  flex-direction: row;
  border-width: 20px;
  font-family: Raleway;
  font-size: 25px;
  font-weight: bold;
  color: #0065fc;
  margin-top: 55px;
  margin-left: 500px;
  height: 50px;
  padding-top: 3px;
  text-decoration: none;
}
.menu-item_1 {
  color: #0065fc;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}
.menu-item_2 {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -6px;
  color: black;
  text-decoration: none;
}
.menu-item_3 {
  padding-left: 30px;
  color: #0065fc;
  text-decoration: none;
}
.menu-item_2:hover {
  color: #0065fc;
  border-top: 3px solid;
  padding-top: 40px;
}
.menu-item_1:hover {
  color: #0065fc;
  padding-top: 40px;
  border-top: 3px solid;
}
.menu-item_3:visited {
  text-decoration: none;
  color: #0065fc;
}
.menu-item_3:link {
  text-decoration: none;
}
/* Titre et sous-titre */
.header-titre h1 {
  margin-top: 100px;
  font-family: Raleway;
  font-size: 30px;
}
.header-titre p {
  font-family: Raleway;
  font-size: 30px;
}

/* Barre de navigation */
@media all and (max-width: 600px) {
  .logo_menu {
    display: flex;
    flex-direction: row;
  }
  .menu {
    display: flex;
    flex-direction: row;
    border-width: 20px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    color: #0065fc;
    margin-top: 75px;
    margin-left: -90px;
    height: 42px;
    padding-top: 3px;
    text-decoration: none;
  }
  .ligne_menu {
    position: relative;
    width: 410px;
    left: -22px;
    border-bottom: 3px solid;
    color: #f2f2f2;
  }
  .menu-item_1 {
    margin-right: 35px;
    margin-left: 15px;
    padding-top: 50px;
    text-decoration: none;
    border-top: none;
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-item_2 {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -6px;
    color: black;
    text-decoration: none;
  }
  .menu-item_3 {
    position: relative;
    top: -62px;
    left: -155px;
    padding-left: 10px;
    text-decoration: none;
  }
  .menu-item_2:hover {
    padding-right: 20px;
    padding-left: 30px;
    margin-left: -6px;
    padding-bottom: 15px;
    border-bottom: 3px solid;
    border-top: transparent;
    color: #0065fc;
    text-decoration: none;
  }
  .menu-item_1:hover {
    padding-bottom: 15px;
    border-bottom: 3px solid;
    border-top: transparent;
    color: #0065fc;
    text-decoration: none;
  }
  .menu-item_3:visited {
    text-decoration: none;
    color: #0065fc;
  }
  .menu-item_3:link {
    text-decoration: none;
  }
}
/* Barre de navigation */
@media all and (min-width: 600px) and (max-width: 1224px) {
  .logo_menu {
    display: flex;
    flex-direction: row;
  }
  .menu {
    display: flex;
    flex-direction: row;
    border-width: 20px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    color: #0065fc;
    margin-top: 95px;
    margin-left: -90px;
    height: 42px;
    padding-top: 3px;
    text-decoration: none;
  }
  .menu-item_1 {
    margin-right: 35px;
    margin-left: 15px;
    padding-top: 50px;
    text-decoration: none;
    border-top: none;
    padding-left: 20px;
  }
  .menu-item_2 {
    padding-left: 20px;
    color: #0065fc;
    text-decoration: none;
  }
  .menu-item_2:hover {
    padding-right: 20px;
    padding-left: 30px;
    margin-left: -6px;
    padding-bottom: 15px;
    border-bottom: 3px solid;
    border-top: transparent;
    color: #0065fc;
    text-decoration: none;
  }
  .menu-item_1:hover {
    padding-bottom: 15px;
    border-bottom: 3px solid;
    border-top: transparent;
    color: #0065fc;
    text-decoration: none;
  }
  .menu-item_3:visited {
    text-decoration: none;
    color: #0065fc;
  }
  .menu-item_3:link {
    text-decoration: none;
  }
  /* Titre et sous-titre */
  .header-titre h1 {
    display: block;
    margin-top: 50px;
    margin-left: 35px;
    width: 600px;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
  }
  .header-titre p {
    font-family: Raleway;
    font-size: 10px;
    display: block;
    margin-left: 15px;
    font-size: 20px;
    width: 600px;
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  /* Titre et sous-titre */
  .header-titre h1 {
    display: block;
    margin-top: 50px;
    margin-left: 35px;
    width: 300px;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
  }
  .header-titre p {
    font-family: Raleway;
    font-size: 13px;
    display: block;
    margin-left: 35px;
    width: 300px;
    text-align: center;
  }
}
/* Barre de recherche*/
.header-recherche {
  display: flex;
  flex-direction: row;
  font-family: Raleway;
  font-weight: bold;
  font-size: 15px;
  margin-top: 80px;
}
.header-recherche-situation {
  width: 36px;
  border: 3px;
  background-color: #f2f2f2;
  padding: 6px;
  text-align: center;
  font-size: 25px;
  font-family: Raleway;
  padding: 6px 0 6px 0;
}
.header-recherche-saisie {
  text-align: center;
  height: 47px;
  font-family: Raleway;
  border: 2px solid #f2f2f2;
  font-weight: bold;
  font-size: 25px;
}
.header-recherche-btn-large {
  display: block;
  text-align: center;
  font-family: Raleway;
  font-weight: bold;
  padding: 15px 0px 8px 0;
  background: #0065fc;
  color: #deebff;
  border-radius: 0 10px 10px 0;
  width: 130px;
  border: 0px;
}
.header-recherche-btn-small {
  display: none;
}

@media all and (max-width: 600px) {
  /* barre de recherche */
  .header-recherche {
    margin-top: 100px;
    margin-left: 10px;
  }
  .header-recherche-situation {
    border: 3px;
    background-color: #f2f2f2;
    font-size: 20px;
    padding: 12px;
    border-radius: 10px 0 0 10px;
  }
  .header-recherche-saisie {
    text-align: center;
    height: 50px;
    font-family: Raleway;
    border: 2px solid #f2f2f2;
    font-weight: bold;
    font-size: 20px;
  }
  .header-recherche-btn-small {
    display: block;
    background: #0065fc;
    color: #deebff;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    padding: 16px;
    border: 0px;
  }
  .header-recherche-btn-large {
    display: none;
  }
}
/* Filtres */
.filtres-container-icon {
  font-family: Raleway;
  font-size: 30px;
  font-weight: bold;
}

.filtres {
  display: flex;
  font-family: Raleway;
  font-size: 30px;
  flex-direction: column;
  padding: 20px 0;
}
.filtres-container {
  display: flex;
  flex-flow: row wrap;
}

.filtres-titre {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: inherit;
  padding-right: 20px;
}

.filtres-container-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-radius: 200px;
  border: 2px #f2f2f2 solid;
  height: 50px;
  position: relative;
  padding-left: 55px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.filtres-container-icon:hover {
  cursor: pointer;
  background-color: #deebff;
  text-decoration: none;
}
.filtres-container-icon i {
  line-height: 50px;
  color: #0065fc;
  position: absolute;
  width: 50px;
  text-align: center;
  background: #deebff;
  left: -2px;
  border-radius: 100%;
}

.filtres-container-icon p {
  margin: auto;
}
@media all and (min-width: 600px) and (max-width: 1224px) {
  /* Filtres */
  .filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-left: 45px;
    width: 500px;
  }
  .filtres-container-icon:nth-child(4) {
    align-self: flex-start;
  }
  .filtres-container-icon {
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
  }
  .filtres-titre {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: inherit;
    padding-right: 20px;
  }
  .filtres-container-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 200px;
    border: 2px #f2f2f2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .filtres-container-icon:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  .filtres-container-icon i {
    line-height: 50px;
    color: #0065fc;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #deebff;
    left: -2px;
    border-radius: 100%;
  }

  .filtres-container-icon p {
    margin: auto;
  }
}

@media all and (max-width: 600px) {
  /* Filtres */
  .filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-left: 45px;
    width: 300px;
  }
  .filtres-container-icon:nth-child(4) {
    align-self: flex-start;
  }
  .filtres-container-icon {
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
  }
  .filtres-titre {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: inherit;
    padding-right: 10px;
  }
  .filtres-container-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-radius: 100px;
    border: 2px #f2f2f2 solid;
    height: 25px;
    position: relative;
    padding-left: 26px;
    padding-right: 7px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .filtres-container-icon:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  .filtres-container-icon i {
    line-height: 25px;
    color: #0065fc;
    position: absolute;
    width: 25px;
    text-align: center;
    background: #deebff;
    left: -2px;
    border-radius: 100%;
  }

  .filtres-container-icon p {
    margin: auto;
  }
}
/* Information */
.information-icon {
  display: flex;
  font-family: Raleway;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  height: 50px;
  position: relative;
  padding-left: 55px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.information-icon i {
  line-height: 50px;
  color: #0065fc;
  position: absolute;
  text-align: center;
  width: 50px;
  background: #deebff;
  left: -2px;
  top: 15px;
  border-radius: 100%;
}
.information-icon p {
  margin-left: 10px;
}

/* Information */
@media all and (max-width: 600px) {
  .information-icon {
    display: flex;
    font-family: Raleway;
    font-size: 15px;
    margin-top: 15px;
    height: 25px;
    position: relative;
    padding-left: 26px;
    padding-right: 7px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .information-icon i {
    line-height: 25px;
    color: #0065fc;
    position: absolute;
    text-align: center;
    width: 25px;
    background: #deebff;
    left: -2px;
    top: 7px;
    border-radius: 100%;
  }
  .information-icon p {
    margin-left: 5px;
    width: 300px;
  }
}

/* Information */
@media all and (min-width: 600px) and (max-width: 1224px) {
  .information-icon {
    display: flex;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    height: 70px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .information-icon i {
    line-height: 50px;
    color: #0065fc;
    position: absolute;
    text-align: center;
    width: 50px;
    background: #deebff;
    left: -2px;
    top: 15px;
    border-radius: 100%;
  }
  .information-icon p {
    margin-left: 5px;
    width: 500px;
  }
}

/* Hebergement Populaire */
.container-hebergement-populaire {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "container-hebergement container-hebergement container-populaire";
}
/* Hebergement */
.container-hebergement-titre {
  font-family: Raleway;
  font-size: 30px;
}
.container-hebergement {
  margin: left;
  font-family: Raleway;
  font-size: 15px;
  margin-top: 40px;
  margin-right: 70px;
  border-radius: 10px;
  grid-area: container-hebergement;
  background-color: #f2f2f2;
  padding: 20px;
}
.container-hebergement-hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2px;
  grid-gap: 20px 0px;
}
.hebergement-hotel {
  margin-right: 17px;
  margin-top: 20px;
  width: 29%;
  padding: 5px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.hebergement-hotel:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
img.imgh {
  height: 100px;
  width: 197px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.hebergement-hotel-txt {
  text-align: left;
  line-height: 3px;
  padding-bottom: 5px;
}
.hebergement-hotel-etoile {
  color: #0065fc;
}
.hebergement-txt-afficher {
  padding-top: 55px;
  font-size: 10px;
}

/* Populaire */
.container-populaire {
  margin: left;
  font-family: Raleway;
  font-size: 15px;
  margin-top: 40px;
  padding: 15px;
  border-radius: 10px;
  grid-area: container-populaire;
  background-color: #f2f2f2;
}
.container-populaire-titre {
  height: 36px;
  font-family: Raleway;
  font-size: 30px;
  margin-bottom: 20px;
}
.container-populaire-icon {
  position: relative;
  margin-left: 60px;
  font-size: 30px;
}
.container-populaire-hotel {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  margin-left: 3px;
  height: 160px;
  width: 380px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
img.imgp {
  float: left;
  height: 94%;
  width: 45%;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.populaire-hotel-txt {
  text-align: left;
  margin-left: 10px;
}
.populaire-hotel-etoile1 {
  line-height: 110px;
}
.populaire-hotel-etoile2 {
  line-height: 80px;
}
.populaire-hotel-etoile,
.populaire-hotel-etoile1,
.populaire-hotel-etoile2 {
  color: #0065fc;
}
.etoile-gray {
  color: #deebff;
}
.container-populaire-hotel:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}

.hebergement-txt-afficher {
  font-family: Raleway;
  font-size: 30px;
}

@media all and (min-width: 600px) and (max-width: 1224px) {
  /* Herbergement Populaire */
  .container-hebergement-populaire {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "container-populaire container-hebergement";
    margin: left;
    width: 800px;
  }
  /* Herbergement */
  .container-hebergement-titre {
    padding-top: 15px;
    font-size: 20px;
  }
  .hebergement-txt-afficher {
    font-size: 20px;
  }
  .container-hebergement {
    margin: left;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: Raleway;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 700px;
    background-color: #ffffff;
  }
  .hebergement-hotel {
    margin-right: 12px;
    margin-left: -5px;
    margin-top: 50px;
    padding: 5px;
    height: 213px;
    width: 325px;
    background-color: #ffffff;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
  }
  img.imgh {
    height: 110px;
    width: 315px;
    padding: 5px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
  }
  .hebergement-hotel-txt {
    font-size: 15px;
    padding-left: 15px;
    line-height: 10px;
    padding-bottom: 5px;
  }
  .hebergement-hotel:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  /* Populaire */
  .container-populaire-titre {
    height: 20px;
    font-size: 20px;
  }
  .container-populaire {
    font-family: Raleway;
    font-size: 20px;
    margin-top: 25px;
    width: auto;
    margin-left: -15px;
    border-radius: 5px;
    grid-area: container-populaire;
    background-color: #f2f2f2;
  }
  .container-populaire-icon {
    margin-left: 125px;
    font-size: 20px;
  }
  .container-populaire-hotel {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-right: 60px;
    padding: 5px;
    height: 426px;
    width: 650px;
    background-color: #ffffff;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
  }
  img.imgp {
    float: left;
    height: 413px;
    width: 260px;
    padding: 5px;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
  }
  .populaire-hotel-txt {
    font-size: 30px;
    text-align: left;
    margin-left: 5px;
  }
  .populaire-hotel-etoile1 {
    line-height: 25px;
  }
  .populaire-hotel-etoile2 {
    line-height: 80px;
  }
  .populaire-hotel-etoile,
  .populaire-hotel-etoile1,
  .populaire-hotel-etoile2 {
    color: #0065fc;
  }
  .etoile-gray {
    color: #deebff;
  }
  .container-populaire-hotel:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
}
@media all and (max-width: 600px) {
  /* Herbergement Populaire */
  .container-hebergement-populaire {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "container-populaire container-hebergement";
    width: 200px;
  }
  /* Herbergement */
  .container-hebergement-titre {
    padding-top: 15px;
    font-size: 20px;
  }
  .hebergement-txt-afficher {
    font-size: 20px;
  }
  .container-hebergement {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: Raleway;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    background-color: #ffffff;
  }
  .hebergement-hotel {
    margin-right: 12px;
    margin-left: -5px;
    margin-top: 50px;
    padding: 5px;
    height: 213px;
    width: 325px;
    background-color: #ffffff;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
  }
  img.imgh {
    height: 110px;
    width: 315px;
    padding: 5px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
  }
  .hebergement-hotel-txt {
    font-size: 15px;
    padding-left: 15px;
    line-height: 10px;
    padding-bottom: 5px;
  }
  .hebergement-hotel:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  /* Populaire */
  .container-populaire-titre {
    height: 20px;
    font-size: 20px;
  }
  .container-populaire {
    font-family: Raleway;
    font-size: 20px;
    margin-top: 25px;
    width: auto;
    margin-left: -15px;
    border-radius: 5px;
    grid-area: container-populaire;
    background-color: #f2f2f2;
  }
  .container-populaire-icon {
    margin-left: 125px;
    font-size: 20px;
  }
  .container-populaire-hotel {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-right: 25px;
    padding: 5px;
    height: 213px;
    width: 325px;
    background-color: #ffffff;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 12px #555;
  }
  img.imgp {
    float: left;
    height: 200px;
    width: 130px;
    padding: 5px;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
  }
  .populaire-hotel-txt {
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
  }
  .populaire-hotel-etoile1 {
    line-height: 55px;
  }
  .populaire-hotel-etoile2 {
    line-height: 40px;
  }
  .populaire-hotel-etoile,
  .populaire-hotel-etoile1,
  .populaire-hotel-etoile2 {
    color: #0065fc;
  }
  .etoile-gray {
    color: #deebff;
  }
  .container-populaire-hotel:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
}

/* Activités */
.container-activite {
  margin-top: 40px;
  border-radius: 10px;
  grid-area: activite;
  font-family: Raleway;
  font-size: 15px;
}
.container-activite-titre {
  margin-top: 100px;
  margin-left: 20px;
  font-family: Raleway;
  font-size: 30px;
}
.container-activite-lieux {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px 60px;
}
.activite-lieux-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 250px;
  height: 455px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.activite-lieux-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 250px;
  height: 215px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.activite-lieux-3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 37px;
  width: 250px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.activite-lieux-4 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  width: 250px;
  height: 455px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.activite-lieux-5 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  width: 250px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.activite-lieux-6 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  width: 250px;
  height: 215px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
}
.activite-lieux-img1,
.activite-lieux-img4 {
  height: 385px;
  object-fit: cover;
}
.activite-lieux-img2,
.activite-lieux-img6 {
  height: 145px;
  object-fit: cover;
}
.activite-lieux-img3,
.activite-lieux-img5 {
  height: 110px;
  object-fit: cover;
}
.activite-lieux-img-width {
  width: 240px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
.activite-lieux-txt {
  font-family: Raleway;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
}
.activite-lieux-1:hover,
.activite-lieux-4:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
.activite-lieux-2:hover,
.activite-lieux-6:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
.activite-lieux-3:hover,
.activite-lieux-5:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
@media all and (min-width: 600px) and (max-width: 1224px) {
  /* Activite */
  .container-activite-lieux {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .activite-lieux-1 {
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-2 {
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-3 {
    height: 200px;
    width: 300px;
    margin-top: 0px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-4 {
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-5 {
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-6 {
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-img1,
  .activite-lieux-img2,
  .activite-lieux-img3,
  .activite-lieux-img4,
  .activite-lieux-img5,
  .activite-lieux-img6 {
    height: 115px;
    object-fit: cover;
  }
  .activite-lieux-img-width {
    width: 280px;
    padding: 10px;
    border-radius: 25px 25px 0 0;
  }
  .activite-lieux-txt {
    font-family: Raleway;
    font-size: 15px;
    padding-left: 10px;
  }
  .activite-lieux-1:hover,
  .activite-lieux-2:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  .activite-lieux-3:hover,
  .activite-lieux-4:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  .activite-lieux-5:hover,
  .activite-lieux-6:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
}
@media all and (max-width: 600px) {
  /* Activite */
  .container-activite {
    margin-top: 20px;
    border-radius: 5px;
    grid-area: activite;
    font-family: Raleway;
    font-size: 20px;
    width: 200px;
  }
  .container-activite-titre {
    font-size: 20px;
    margin-top: 50px;
  }
  .container-activite-lieux {
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px 0px;
  }
  .activite-lieux-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 250px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 250px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    height: 250px;
    width: 350px;
    margin-top: 0px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    height: 250px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    height: 250px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-6 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    height: 250px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 12px #555;
  }
  .activite-lieux-img1,
  .activite-lieux-img2,
  .activite-lieux-img3,
  .activite-lieux-img4,
  .activite-lieux-img5,
  .activite-lieux-img6 {
    height: 165px;
    object-fit: cover;
  }
  .activite-lieux-img-width {
    width: 330px;
    padding: 10px;
    border-radius: 25px 25px 0 0;
  }
  .activite-lieux-txt {
    font-family: Raleway;
    font-size: 15px;
    padding-left: 10px;
  }
  .activite-lieux-1:hover,
  .activite-lieux-2:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  .activite-lieux-3:hover,
  .activite-lieux-4:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
  .activite-lieux-5:hover,
  .activite-lieux-6:hover {
    cursor: pointer;
    background-color: #deebff;
    text-decoration: none;
  }
}

/* Footer */
.footer-colonne {
  margin-top: 3%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #f2f2f2;
}
.footer-colonne-titre,
.footer-colonne-ligne {
  font-family: Raleway;
  margin-left: 15px;
  margin-right: 150px;
  font-size: 15px;
}
@media all and (min-width: 600px) and (max-width: 1224px) {
  .footer-colonne {
    margin-top: 3%;
    height: auto;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #f2f2f2;
  }
  .footer-colonne-titre,
  .footer-colonne-ligne {
    font-family: Raleway;
    margin-left: 10px;
    margin-right: 60px;
    font-size: 15px;
  }
}

@media all and (max-width: 600px) {
  /* Footer */
  .footer-colonne {
    display: block;
    flex-direction: column;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    margin-left: -20px;
    background-color: #f2f2f2;
  }
  .footer-colonne-titre {
    font-family: Raleway;
    margin-left: 30px;
    font-size: 15px;
    line-height: 30px;
  }
  .footer-colonne-ligne {
    line-height: 3px;
    font-family: Raleway;
    font-size: 15px;
    margin-left: 30px;
  }
}
