html,
body {
  margin: 0;
  padding: 0;
}

/*formatage de la page*/
.bloc_page {
  width: 1200px;
  margin: 0 auto;
}

/* Logo Reservia*/
img.logo {
  position: relative;
  top: 50px;
  height: 55px;
}

/* Barre de navigation */
.logo_menu {
  display: flex;
}
.menu-item_1 {
  position: relative;
  left: 800px;
  top: -13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0065fc;
  text-decoration: none;
}
.menu-item_2 {
  position: relative;
  left: 860px;
  top: -13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.menu-item_3 {
  position: relative;
  left: 1115px;
  top: -35px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #0065fc;
  text-decoration: none;
}
.menu-item_2:hover {
  color: #0065fc;
  border-top: 3px solid;
  padding-top: 42px;
}
.menu-item_1:hover {
  color: #0065fc;
  padding-top: 42px;
  border-top: 3px solid;
}
.menu-item_3:visited {
  text-decoration: none;
  color: #0065fc;
}
.menu-item_3:link {
  text-decoration: none;
}

/* Titre et sous-titre */
.header-titre h1 {
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
}
.header-titre p {
  font-family: "Raleway", sans-serif;
  font-stretch: extra-expanded;
  font-size: 15px;
}

/* Barre de recherche*/
.header-recherche {
  display: flex;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}
.header-recherche-situation {
  width: 50px;
  border: 3px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 15px 0 0 15px;
  padding: 6px 0 6px 0;
}
.header-recherche-situation i {
  padding-top: 10px;
}
.header-recherche-saisie {
  text-align: left;
  padding-left: 15px;
  height: 55px;
  font-family: "Raleway", sans-serif;
  border: 2px solid #f2f2f2;
  font-weight: 400;
  color: black;
  font-size: 17px;
}
.header-recherche-btn-large {
  display: block;
  text-align: center;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 15px 0px 8px 0;
  background: #0065fc;
  color: #ffffff;
  border-radius: 0 15px 15px 0;
  width: 130px;
  border: 0px;
}
.header-recherche-btn-small {
  display: none;
}

/* Filtres */
.filtres-container-icon {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.filtres {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 17px;
  flex-direction: column;
  padding: 20px 0;
}
.filtres-container {
  display: flex;
  flex-flow: row wrap;
}
.filtres-titre {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.filtres-container-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 200px;
  border: 2px #f2f2f2 solid;
  height: 50px;
  position: relative;
  padding-left: 55px;
  padding-right: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.filtres-container-icon:hover {
  cursor: pointer;
  background-color: #deebff;
  text-decoration: none;
}
.filtres-container-icon i {
  line-height: 50px;
  color: #0065fc;
  position: absolute;
  width: 50px;
  text-align: center;
  background: #deebff;
  left: -2px;
  border-radius: 100%;
}
.filtres-container-icon p {
  margin: auto;
}

/* Information */
.information-icon {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-stretch: extra-expanded;
  margin-top: 10px;
  height: 50px;
  position: relative;
  padding-left: 40px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.information-icon i {
  line-height: 30px;
  color: #0065fc;
  position: absolute;
  text-align: center;
  width: 30px;
  border: 2px #f2f2f2 solid;
  left: -2px;
  top: 10px;
  border-radius: 100%;
}
.information-icon p {
  margin-left: 10px;
}

/* Hebergement Populaire */
.container-hebergement-populaire {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "container-hebergement container-hebergement container-populaire";
}

/* Hebergement Populaire */
.container-hebergement-populaire {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "container-hebergement container-hebergement container-populaire";
}

/* Hebergement */
.container-hebergement-titre {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 35px;
}
.container-hebergement {
  margin-top: 40px;
  margin-right: 70px;
  border-radius: 20px;
  grid-area: container-hebergement;
  background-color: #f2f2f2;
  padding: 20px;
}
.container-hebergement-hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2px;
  grid-gap: 20px 0px;
}
.hebergement-hotel {
  margin-right: 17px;
  margin-top: 20px;
  width: 29%;
  padding: 5px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.hebergement-hotel:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
img.imgh {
  height: 100px;
  width: 195px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.hebergement-hotel-txt {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
  line-height: 3px;
  padding-bottom: 5px;
}
.hebergement-hotel-etoile {
  color: #0065fc;
}
.hebergement-txt-afficher {
  padding-top: 55px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
}

/* Populaire */
.container-populaire {
  margin-top: 40px;
  padding: 30px;
  border-radius: 20px;
  grid-area: container-populaire;
  background-color: #f2f2f2;
}
.container-populaire-titre {
  height: 36px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.container-populaire-icon {
  position: relative;
  margin-left: 60px;
  font-size: 30px;
}
.container-populaire-hotel {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  margin-left: 3px;
  height: 160px;
  width: 350px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
img.imgp {
  float: left;
  height: 94%;
  width: 150px;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.populaire-hotel-txt {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
.populaire-hotel-etoile1 {
  line-height: 100px;
}
.populaire-hotel-etoile2 {
  line-height: 100px;
}
.populaire-hotel-etoile3 {
  line-height: 100px;
}
.populaire-hotel-etoile,
.populaire-hotel-etoile1,
.populaire-hotel-etoile2,
.populaire-hotel-etoile3 {
  color: #0065fc;
}
.etoile-gray {
  color: #f2f2f2;
}
.container-populaire-hotel:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}

.hebergement-txt-afficher {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
}

/* Activités */
.container-activite {
  margin-top: 40px;
  border-radius: 10px;
  grid-area: activite;
  font-family: "Raleway", sans-serif;
  width: 75%;
  font-size: 15px;
}
.container-activite-titre {
  margin-top: 100px;
  margin-left: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
.container-activite-lieux {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px 60px;
}
.activite-lieux-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 250px;
  height: 455px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activite-lieux-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 250px;
  height: 215px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activite-lieux-3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 37px;
  width: 250px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activite-lieux-4 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  width: 250px;
  height: 455px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activite-lieux-5 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  width: 250px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activite-lieux-6 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  width: 250px;
  height: 215px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.activite-lieux-img1,
.activite-lieux-img4 {
  height: 387px;
  object-fit: cover;
}
.activite-lieux-img2,
.activite-lieux-img6 {
  height: 145px;
  object-fit: cover;
}
.activite-lieux-img3,
.activite-lieux-img5 {
  height: 110px;
  object-fit: cover;
}
.activite-lieux-img-width {
  width: 250px;
  border-radius: 20px 20px 0 0;
}
.activite-lieux-txt {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
}
.activite-lieux-1:hover,
.activite-lieux-4:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
.activite-lieux-2:hover,
.activite-lieux-6:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}
.activite-lieux-3:hover,
.activite-lieux-5:hover {
  cursor: pointer;
  opacity: 0.3;
  text-decoration: none;
}

/* Footer */
.footer-colonne {
  margin-top: 3%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #f2f2f2;
}
.footer-colonne-titre,
.footer-colonne-ligne {
  font-family: "Raleway", sans-serif;
  margin-left: 15px;
  margin-right: 150px;
  font-size: 15px;
}
